
/* Asterisk wildcard selector using to override default styles added by the browser */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
header{
background-color:red;
}

main{
background-color: green;
}

footer{
background-color:blue;
}