/*Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* Asterisk wildcard selector using to override default styles added by the browser */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/* General styles*/
body{
    min-height:100vh;
    display:flex;
    flex-direction: column;
    /*Generic project styles*/
    color:#0a0a0a;
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3{
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color:#070000;
}

.hidden-heading {
  display: none;
}

/*header*/
header{
background-color:white;
padding:0 1rem;
position:fixed;
z-index:99;
width:100%;
display:flex;
justify-content: space-between;
align-items:baseline;
}

header a{
    text-decoration: none;
    Color:inherit;
}

#menu{
    font-size:110%;
    letter-spacing:4px;
    list-style-type: none;
}
#menu > li{
    margin-bottom: 1em;
}
.active{
    border-bottom:1px solid #0a0a0a;
}
/* nav bar elements with drop down toggle */
nav{
    position:absolute;
    background-color:white;
    width:100%;
    left:0;
    padding: 0 1rem;
    display:none;
    top:100%;
}
/*Nav toggle*/
#nav-toggle:checked~nav{
    display:block;
}
#nav-toggle{
display:none;    
}
.nav-toggle-label{
font-size:2rem;
}

/*maim content*/
main{
background-color:white;
/*make main element take up anysurpulus space to push footer down*/
flex:1 0 auto;
margin-top:47px;
}
main {
  /* Enlarge main element to push footer down*/
  flex: 1 0 auto;
  /* Add margin at the top to prevent content from being covered by the header */
  margin-top: 47px;
  /* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
}
/*hero section*/
#hero{
  height:600px;
  width:100%;
  background: url( "../images/hero.jpg") no-repeat center center/cover;
  position: relative;
}
#cover-text >h2 ,#cover-text>h3{
  color:white;
}
#cover-text{
  /*final rgb value is opacity to set semi transparent color*/
background-color:rgba(243, 189, 63, 0.91);
font-size:130%;
position: absolute;
bottom: 30px;
  width:80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}
#reasons{
  padding-left: 10px;
}
#list{
  color:green;
list-style-type:none ;
}

#benefits-heading{
padding-top: 20px;
}
#offer{
  text-align: center;
}
#offer-list{
  list-style-type: none;
  color:green;
  text-align: center;
}
/*video section*/
iframe{
  width:100%;
}
#video-outer {
  width: 100%;
  height: 500px;
  text-align: center;
}
#video{
  width: 75%;
  height: 450px;
  text-align: center;
  top:10px;
  position: relative;
}
.section-heading{
  text-align: center;
  padding-top: 20px;
}
/*Gallery*/
#photos img{
width:100%;
}
#photos{
  line-height: 1em;
}

/*Signup*/
  #signup {
    background-image: url("../images/pexels-alesia-kozik-7182133.jpg");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}
#signup-form {
  color: black;
  background-color: rgba(240, 215, 151, 0.6);
  padding: 30px;
}
#signup-form>h2 {
  color:black;
  margin-bottom: 20px;
}
.text-input {
  background: transparent;
  color:black;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border-radius: 2px;
  padding: 0 5px;
}

.radio-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#skill-level{
  color:black;
  
}
.join-button {
  background-color:  rgba(240, 215, 151, 0.6);
  color: black;
  margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
}


/*footer*/
footer{
background-color:white;
}
p{
text-align: center;
}
#social-networks{
    text-align: center;
        padding: 10px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
}
#social-networks i{
    color:green;
}
h2{
  text-align: center;
}
p{
  text-align: center;
  color: green;
}

/*media queries*/

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  #video-outer {
    width: 100%;
    height: 200px;
    text-align: center;
}
#video{
    width: 75%;
    height: 150px;
    text-align: center;
    top:10px;
    position: relative;
}
#photos{
  column-count: 2;
  column-gap: 0;
}
}

/*Media queries for tablet and larger 768px*/
@media screen and (min-width:768px){
/*Header*/
  nav{
    display:block;
    position:relative;
    width:fit-content;
    padding-right:1rem;
  }  
  #menu{
    display:flex;
  }
  #menu > li{
    padding-left:1rem;
  }
  .nav-toggle-label{
    display:none;
  }
  #logo{
    font-size: 200%;
    line-height: 75px;
    margin:0 0.5rem;
  }
  /* main content*/
  main{
    /*push main content down to accommodate larger header*/
    margin-top: 79px;
  }
  /*hero*/
  #cover-text{
    width:300px;
    right:50px;
  }
  /*video*/
  #video-outer {
    width: 100%;
    height: 400px;
    text-align: center;
}
#video{
    width: 75%;
    height: 350px;
    text-align: center;
    top:10px;
    position: relative;
}
#benefits{
  text-align: center;
}
#offer{
  text-align: center;

}
#photos{
  column-count: 3;
  line-height: 0;
}
/* Form */
#signup {
  background-position: center;
  position: relative;
}

#signup-form {
  max-width: 400px;
  position: absolute;
  left: 10%;
  top: 0px;
}
}

/*large devices (laptops and desktops,992px and up)*/
@media screen and (min-width:992px){
  #menu a:hover{
    border-bottom: 1px solid #0a0a0a;
  }
  #photos{
    column-count: 4;
    line-height: 0;
  }
  #signup-form {
    top:0px;
    bottom: 20px;
  }
}